.hero__header{
  max-width: 1171px;
  width: 100%;
  background-image: url(/img/img-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position:50% 58%;
  margin-bottom: 100px;
  border-radius: 10px;
}

.hero__inner{
  max-width: 589px;
  width: 100%;
  padding: 80px;
  color: #fff;
}
.hero__title{
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FEFCF7;
}

.hero__info{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
   color: #FEFCF7;  
}

.hero__coffee-type{
  background-color: #2C343E;
  padding: 80px;
  border-radius: 10px;
}

.hero__liner{
  max-width: 760px;
  width: 100%;
}

.hero__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__item{
  max-width: 308px;
  width: 100%;
  margin: 0 4px;
}
.hero__num{
  display:block;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.hero__coffee{
  display: block;
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #FEFCF7;
max-width: 165px;
width: 100%;
}
.hero__param{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;  
  margin-top: 50px;
}


@media (max-width:600px){

  .hero__inner{
    padding: 20px;
  }
  .hero__title{
    font-size: 50px;
  
  }
}

@media (max-width:370px){
  .hero__title{
    font-size: 35px;
  
  }

  .hero__header{
    background-size: 100% 278px;
  }
}

@media (max-width:300px){
  .hero__title{
    font-size: 30px;
  }
  .hero__info{
    font-size: 16px;
  }
}

@media (max-width:1016px){
  .hero__list{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero__coffee{
    display: inline;
  }
  .hero__item{
    max-width: 450px;
    width: 100%;
  }
}

@media (max-width:500px){
  .hero__liner{
    display: none;
  }

  .hero__coffee-type{
    padding: 20px;
  }
}